<div class="login-form mt-4">
    <form [formGroup]="loginForm">
        <div class="error-msg" *ngIf="isBadCredential">{{errorMessage}}</div>
        <div class="log-input">
            <div class="form-group">
                <div class="login-input">
                    <input type="text" class="form-control" id="oldPassword" placeholder="oldPassword"
                        formControlName="oldPassword" name="oldPassword"
                        pInputText required>
                </div>
                <div class="fieldError" *ngIf="loginForm.get('oldPassword').invalid && loginForm.get('oldPassword').touched">
                    {{ getErrorMessage(loginForm, validation_messages, 'oldPassword') }}
                </div>
            </div>
            <div class="form-group">
                <div class="login-input">
                    <input [type]="password" id="newPassword" class="form-control fc-icon"
                        placeholder="Password" formControlName="newPassword" name="newPassword"
                        pInputText>
                </div>
                <div class="fieldError" *ngIf="loginForm.get('newPassword').invalid && loginForm.get('newPassword').touched">
                    {{ getErrorMessage(loginForm, validation_messages, 'newPassword') }}
                </div>
            </div>
        </div>
        <div class="login-button">
            <button type="submit" (click)="login(loginForm)" class="btn login-btn" id="login-button" id="loginBtn">Recover Password</button>
        </div>
    </form>
  </div>