<div class="login-form mt-4">
  <form [formGroup]="loginForm">
      <div class="error-msg" *ngIf="isBadCredential">{{errorMessage}}</div>
      <div class="log-input">
          <div class="form-group">
              <div class="login-input">
                  <div class="user-icon"><fa-icon [icon]="faUser"></fa-icon></div>
                  <input type="text" class="form-control" id="username" placeholder="Username"
                      formControlName="username" name="username"
                      pInputText required>
              </div>
              <div class="fieldError" *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                  {{ getErrorMessage(loginForm, validation_messages, 'username') | translate }}
              </div>
          </div>
          <div class="form-group">
              <div class="login-input">
                  <div class="type-icon" id="eyeViewBtn" (click)="toggleTypeIcon()" *ngIf="iconShow"><fa-icon [icon]="getIcon(isPassword)"></fa-icon></div>
                  <div class="password-icon"><fa-icon [icon]="faLock"></fa-icon></div>
                  <input [type]="password" id="password" class="form-control fc-icon"  (keyup)="rePassword($event)"
                      placeholder="Password" formControlName="password" name="password"
                      pInputText>
              </div>
              <div class="fieldError" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                  {{ getErrorMessage(loginForm, validation_messages, 'password') | translate }}
              </div>
          </div>
      </div>
      <div>
          <div class="col text-end" style="display: none;">
              <a class="forgot-pass" [routerLink]="['/forgot-password']"
                  id="forgotPass">Forgot Password?</a>
          </div>
      </div>
      <div class="login-button">
          <button type="submit" (click)="login(loginForm)" class="btn login-btn" id="login-button" id="loginBtn">Login</button>
      </div>
  </form>
</div>